html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.zindex2 {
  position: relative;
  z-index: 2;
}

body {
  /* background: url(gray-wallpaper.jpg) center center no-repeat;
  background-size: cover; */
  min-height: 100vh;
  font-family: "Spartan", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.flex > aside {
  background: #4D2462;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  width: 50%;
}

.flex > main {
  width: 50%;
  background-color: white;
}

.logo {
  width: 600px;
  margin: 0 auto 0;
  display: block;
}

.gradient {
  animation: animateBg 15s linear infinite alternate;
  background-image: linear-gradient(0deg, #e9b840, #63d56e, #3964e9, #df3755);
  background-size: 100% 1100%;
  /* background: linear-gradient(270deg, #e9b840, #63d56e, #3964e9, #df3755); */
  /* background-size: 100% 100%;

  -webkit-animation: animateBg 0s ease infinite;
  -moz-animation: animateBg 0s ease infinite;
  animation: animateBg 0s ease infinite; */
}

@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.prompt {
  max-width: 150px;
  display: block;
  border-radius: 150px;
  border: 10px outset #D4D4D4;
}

.text {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.text h1, .text h2 {
  font-size: 4em;
  margin: 0;
  line-height: 1em;
}

.white-bg {
  display: block;
  width: 100%;
  margin-top: 2rem;
  position: relative;
}

.white-bg::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  padding-bottom: 100vh;
}

.text h1 {
  color: #5555e3;
  margin-bottom: 0;
  display: block;
}

.text h1 span {
  color: #383838;
  font-style: italic;
}

h2 {
  text-align: center;
  display: block;
  font-size: 4em;
  width: 100%;
  /* background: rgba(255,255,255,0.25); */
  margin-top: 4rem;
  /* padding-top: 2rem; */
  color: #4D2462;
  /* padding: 1rem 1.5rem; */
  font-family: "Spartan", sans-serif;
  /* outline: 8px solid rgba(255,255,255,0.25);
   outline-offset: 8px; */
}

/* .spacer {
  height: 5px;
  background: #ffffff;
  width: 600px;
  margin-bottom: 2rem;
} */
#particle-container {
  position: relative;
  z-index: 0;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(39vw, 84vh, 22px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.61;
  height: 9px;
  width: 9px;
  animation-delay: -0.2s;
  transform: translate3d(89vw, 10vh, 77px);
  background: #2647d9;
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(24vw, 19vh, 27px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.45;
  height: 7px;
  width: 7px;
  animation-delay: -0.4s;
  transform: translate3d(30vw, 2vh, 46px);
  background: #2635d9;
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(46vw, 55vh, 100px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.79;
  height: 10px;
  width: 10px;
  animation-delay: -0.6s;
  transform: translate3d(27vw, 89vh, 48px);
  background: #2653d9;
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(20vw, 27vh, 51px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.46;
  height: 7px;
  width: 7px;
  animation-delay: -0.8s;
  transform: translate3d(42vw, 66vh, 30px);
  background: #26d0d9;
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(36vw, 83vh, 13px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.25;
  height: 8px;
  width: 8px;
  animation-delay: -1s;
  transform: translate3d(50vw, 76vh, 33px);
  background: #26cdd9;
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(84vw, 46vh, 27px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.56;
  height: 10px;
  width: 10px;
  animation-delay: -1.2s;
  transform: translate3d(88vw, 67vh, 45px);
  background: #d926ca;
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(59vw, 86vh, 18px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.02;
  height: 9px;
  width: 9px;
  animation-delay: -1.4s;
  transform: translate3d(23vw, 73vh, 20px);
  background: #3bd926;
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(16vw, 19vh, 6px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.68;
  height: 9px;
  width: 9px;
  animation-delay: -1.6s;
  transform: translate3d(65vw, 34vh, 9px);
  background: #c7d926;
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(28vw, 27vh, 75px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.5;
  height: 6px;
  width: 6px;
  animation-delay: -1.8s;
  transform: translate3d(49vw, 31vh, 40px);
  background: #26bed9;
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(32vw, 2vh, 97px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.89;
  height: 8px;
  width: 8px;
  animation-delay: -2s;
  transform: translate3d(42vw, 38vh, 15px);
  background: #d92926;
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(57vw, 34vh, 42px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.09;
  height: 9px;
  width: 9px;
  animation-delay: -2.2s;
  transform: translate3d(26vw, 63vh, 64px);
  background: #d99a26;
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(56vw, 46vh, 66px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.61;
  height: 9px;
  width: 9px;
  animation-delay: -2.4s;
  transform: translate3d(40vw, 22vh, 3px);
  background: #d93b26;
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(64vw, 90vh, 15px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.75;
  height: 6px;
  width: 6px;
  animation-delay: -2.6s;
  transform: translate3d(76vw, 56vh, 52px);
  background: #5fd926;
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(57vw, 86vh, 50px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.09;
  height: 8px;
  width: 8px;
  animation-delay: -2.8s;
  transform: translate3d(55vw, 35vh, 73px);
  background: #2638d9;
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(56vw, 57vh, 64px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.07;
  height: 7px;
  width: 7px;
  animation-delay: -3s;
  transform: translate3d(53vw, 28vh, 74px);
  background: #268ed9;
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(84vw, 81vh, 60px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.29;
  height: 6px;
  width: 6px;
  animation-delay: -3.2s;
  transform: translate3d(14vw, 76vh, 65px);
  background: #d93826;
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(80vw, 15vh, 61px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.07;
  height: 9px;
  width: 9px;
  animation-delay: -3.4s;
  transform: translate3d(10vw, 26vh, 57px);
  background: #d92680;
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(37vw, 55vh, 25px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.86;
  height: 10px;
  width: 10px;
  animation-delay: -3.6s;
  transform: translate3d(63vw, 29vh, 7px);
  background: #d92644;
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(39vw, 77vh, 95px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.92;
  height: 6px;
  width: 6px;
  animation-delay: -3.8s;
  transform: translate3d(57vw, 45vh, 87px);
  background: #d92638;
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(42vw, 79vh, 96px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.9;
  height: 7px;
  width: 7px;
  animation-delay: -4s;
  transform: translate3d(40vw, 25vh, 2px);
  background: #d96b26;
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(4vw, 9vh, 83px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.38;
  height: 6px;
  width: 6px;
  animation-delay: -4.2s;
  transform: translate3d(62vw, 65vh, 86px);
  background: #26d9af;
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(23vw, 90vh, 43px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.08;
  height: 10px;
  width: 10px;
  animation-delay: -4.4s;
  transform: translate3d(52vw, 41vh, 10px);
  background: #d9d926;
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(85vw, 60vh, 8px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.66;
  height: 9px;
  width: 9px;
  animation-delay: -4.6s;
  transform: translate3d(23vw, 76vh, 43px);
  background: #26b2d9;
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(36vw, 11vh, 81px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.09;
  height: 9px;
  width: 9px;
  animation-delay: -4.8s;
  transform: translate3d(32vw, 49vh, 71px);
  background: #d9a026;
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(50vw, 65vh, 73px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.99;
  height: 6px;
  width: 6px;
  animation-delay: -5s;
  transform: translate3d(6vw, 78vh, 33px);
  background: #264ad9;
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(59vw, 29vh, 7px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.82;
  height: 9px;
  width: 9px;
  animation-delay: -5.2s;
  transform: translate3d(63vw, 70vh, 34px);
  background: #26b8d9;
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(47vw, 62vh, 97px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.07;
  height: 8px;
  width: 8px;
  animation-delay: -5.4s;
  transform: translate3d(68vw, 12vh, 1px);
  background: #26d9d3;
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(9vw, 10vh, 14px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.81;
  height: 6px;
  width: 6px;
  animation-delay: -5.6s;
  transform: translate3d(35vw, 38vh, 38px);
  background: #2662d9;
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(36vw, 73vh, 5px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.66;
  height: 10px;
  width: 10px;
  animation-delay: -5.8s;
  transform: translate3d(82vw, 75vh, 58px);
  background: #263ed9;
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(54vw, 22vh, 97px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.44;
  height: 10px;
  width: 10px;
  animation-delay: -6s;
  transform: translate3d(76vw, 52vh, 3px);
  background: #26d3d9;
}

/*# sourceMappingURL=app.css.map */
