html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.zindex2 {
  position: relative;
  z-index: 2;
}

body {
  /* background: url(gray-wallpaper.jpg) center center no-repeat;
  background-size: cover; */
  min-height: 100vh;
  font-family: "Caprasimo", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f8e6cf;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.flex > aside, .flex > div {
  background: #1c1917;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  width: 50%;
  border-radius: 40px;
}

.flex > div {
  padding: 40px;
  background-color: transparent;
}
.flex > div.full {
  width: 100%;
}

.flex > div > aside {
  padding: 40px;
  background: #1c1917;
  border-radius: 40px;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
.flex > div > aside.full {
  width: 100%;
}

.flex aside.full {
  width: 100%;
}

.flex aside.full .logo {
  width: 800px;
}

.flex main {
  width: 50%;
}

.logo {
  width: 600px;
  margin: 0 auto 0;
  display: block;
}

.double > div {
  width: 100%;
}
.double div > aside {
  border-radius: 40px 0 0 40px;
  width: 100;
  width: 50%;
}
.double main {
  background: #484540;
  color: #f8e6cf;
  min-height: calc(100vh - 80px);
  border-radius: 0 40px 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.lunch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  gap: 2rem;
}

.lunch small {
  font-size: 2rem;
  color: #1c1917;
  display: block;
  line-height: 2.5rem;
}

.lunch img {
  max-width: 350px;
}

.lunch-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gradient {
  animation: animateBg 15s linear infinite alternate;
  background-image: linear-gradient(0deg, #e9b840, #63d56e, #3964e9, #df3755);
  background-size: 100% 1100%;
  /* background: linear-gradient(270deg, #e9b840, #63d56e, #3964e9, #df3755); */
  /* background-size: 100% 100%;

  -webkit-animation: animateBg 0s ease infinite;
  -moz-animation: animateBg 0s ease infinite;
  animation: animateBg 0s ease infinite; */
}

@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.prompt {
  max-width: 150px;
  display: block;
  border-radius: 150px;
  border: 10px outset #D4D4D4;
}

.text {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.text h1, .text h2 {
  font-size: 4em;
  margin: 0;
  line-height: 1em;
}

.white-bg {
  display: block;
  width: 100%;
  margin-top: 2rem;
  position: relative;
}

.white-bg::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  padding-bottom: 100vh;
}

.text h1 {
  color: #5555e3;
  margin-bottom: 0;
  display: block;
}

.text h1 span {
  color: #383838;
  font-style: italic;
}

h2 {
  text-align: center;
  display: block;
  font-size: 5rem;
  line-height: 0.9;
  width: 100%;
  /* background: rgba(255,255,255,0.25); */
  margin-top: 4rem;
  /* padding-top: 2rem; */
  /* padding: 1rem 1.5rem; */
  font-family: "Caprasimo", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  /* outline: 8px solid rgba(255,255,255,0.25);
   outline-offset: 8px; */
}
h2 span {
  color: #f8e6cf;
}

#timer {
  background-color: #EF493C;
  margin-top: 1rem;
  color: #f8e6cf;
  padding: 0.5rem 2rem 0.75rem;
  line-height: normal;
  display: inline-block;
  font-size: 6rem;
  font-family: "Caprasimo", monospace;
  border-radius: 4rem;
}

/* .spacer {
  height: 5px;
  background: #ffffff;
  width: 600px;
  margin-bottom: 2rem;
} */
#particle-container {
  position: relative;
  z-index: 0;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(57vw, 66vh, 12px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.21;
  height: 22px;
  width: 22px;
  animation-delay: -0.2s;
  transform: translate3d(86vw, 77vh, 98px);
  background: hsl(228, 10%, 50%);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(84vw, 42vh, 30px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.22;
  height: 21px;
  width: 21px;
  animation-delay: -0.4s;
  transform: translate3d(28vw, 3vh, 42px);
  background: hsl(331, 10%, 50%);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(60vw, 33vh, 82px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.21;
  height: 14px;
  width: 14px;
  animation-delay: -0.6s;
  transform: translate3d(32vw, 71vh, 80px);
  background: hsl(254, 10%, 50%);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(4vw, 45vh, 30px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.33;
  height: 22px;
  width: 22px;
  animation-delay: -0.8s;
  transform: translate3d(88vw, 28vh, 11px);
  background: hsl(25, 10%, 50%);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(57vw, 82vh, 9px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.22;
  height: 27px;
  width: 27px;
  animation-delay: -1s;
  transform: translate3d(79vw, 82vh, 19px);
  background: hsl(215, 10%, 50%);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(15vw, 33vh, 96px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.25;
  height: 25px;
  width: 25px;
  animation-delay: -1.2s;
  transform: translate3d(48vw, 14vh, 92px);
  background: hsl(233, 10%, 50%);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(50vw, 19vh, 91px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.41;
  height: 25px;
  width: 25px;
  animation-delay: -1.4s;
  transform: translate3d(79vw, 23vh, 70px);
  background: hsl(321, 10%, 50%);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(28vw, 74vh, 22px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.35;
  height: 17px;
  width: 17px;
  animation-delay: -1.6s;
  transform: translate3d(65vw, 21vh, 25px);
  background: hsl(91, 10%, 50%);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(46vw, 70vh, 90px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.41;
  height: 21px;
  width: 21px;
  animation-delay: -1.8s;
  transform: translate3d(53vw, 71vh, 50px);
  background: hsl(37, 10%, 50%);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(5vw, 37vh, 86px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.01;
  height: 17px;
  width: 17px;
  animation-delay: -2s;
  transform: translate3d(85vw, 83vh, 81px);
  background: hsl(310, 10%, 50%);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(88vw, 15vh, 50px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.32;
  height: 20px;
  width: 20px;
  animation-delay: -2.2s;
  transform: translate3d(30vw, 40vh, 15px);
  background: hsl(150, 10%, 50%);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(49vw, 26vh, 13px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.19;
  height: 23px;
  width: 23px;
  animation-delay: -2.4s;
  transform: translate3d(89vw, 81vh, 92px);
  background: hsl(186, 10%, 50%);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(70vw, 81vh, 50px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.03;
  height: 22px;
  width: 22px;
  animation-delay: -2.6s;
  transform: translate3d(78vw, 65vh, 45px);
  background: hsl(226, 10%, 50%);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(70vw, 11vh, 56px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.06;
  height: 25px;
  width: 25px;
  animation-delay: -2.8s;
  transform: translate3d(25vw, 90vh, 27px);
  background: hsl(114, 10%, 50%);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(2vw, 55vh, 14px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.26;
  height: 22px;
  width: 22px;
  animation-delay: -3s;
  transform: translate3d(51vw, 22vh, 66px);
  background: hsl(37, 10%, 50%);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(36vw, 18vh, 86px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.07;
  height: 15px;
  width: 15px;
  animation-delay: -3.2s;
  transform: translate3d(67vw, 4vh, 81px);
  background: hsl(260, 10%, 50%);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(48vw, 27vh, 83px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.26;
  height: 13px;
  width: 13px;
  animation-delay: -3.4s;
  transform: translate3d(80vw, 16vh, 32px);
  background: hsl(310, 10%, 50%);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(50vw, 78vh, 80px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.16;
  height: 25px;
  width: 25px;
  animation-delay: -3.6s;
  transform: translate3d(76vw, 29vh, 89px);
  background: hsl(151, 10%, 50%);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(83vw, 82vh, 14px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.43;
  height: 15px;
  width: 15px;
  animation-delay: -3.8s;
  transform: translate3d(30vw, 56vh, 10px);
  background: hsl(243, 10%, 50%);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(47vw, 5vh, 66px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.32;
  height: 17px;
  width: 17px;
  animation-delay: -4s;
  transform: translate3d(45vw, 44vh, 85px);
  background: hsl(166, 10%, 50%);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(4vw, 19vh, 26px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.48;
  height: 16px;
  width: 16px;
  animation-delay: -4.2s;
  transform: translate3d(39vw, 29vh, 55px);
  background: hsl(111, 10%, 50%);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(48vw, 43vh, 7px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.02;
  height: 20px;
  width: 20px;
  animation-delay: -4.4s;
  transform: translate3d(33vw, 10vh, 98px);
  background: hsl(101, 10%, 50%);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(18vw, 36vh, 96px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.1;
  height: 18px;
  width: 18px;
  animation-delay: -4.6s;
  transform: translate3d(54vw, 28vh, 72px);
  background: hsl(268, 10%, 50%);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(31vw, 16vh, 80px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.01;
  height: 24px;
  width: 24px;
  animation-delay: -4.8s;
  transform: translate3d(7vw, 52vh, 9px);
  background: hsl(324, 10%, 50%);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(53vw, 9vh, 40px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.44;
  height: 20px;
  width: 20px;
  animation-delay: -5s;
  transform: translate3d(45vw, 81vh, 86px);
  background: hsl(187, 10%, 50%);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(62vw, 69vh, 29px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.18;
  height: 26px;
  width: 26px;
  animation-delay: -5.2s;
  transform: translate3d(47vw, 55vh, 13px);
  background: hsl(79, 10%, 50%);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(40vw, 59vh, 61px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.26;
  height: 17px;
  width: 17px;
  animation-delay: -5.4s;
  transform: translate3d(32vw, 39vh, 50px);
  background: hsl(255, 10%, 50%);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(3vw, 41vh, 35px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.08;
  height: 19px;
  width: 19px;
  animation-delay: -5.6s;
  transform: translate3d(90vw, 4vh, 31px);
  background: hsl(114, 10%, 50%);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(60vw, 58vh, 72px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.18;
  height: 21px;
  width: 21px;
  animation-delay: -5.8s;
  transform: translate3d(31vw, 57vh, 58px);
  background: hsl(255, 10%, 50%);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(44vw, 37vh, 68px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.42;
  height: 26px;
  width: 26px;
  animation-delay: -6s;
  transform: translate3d(82vw, 32vh, 38px);
  background: hsl(111, 10%, 50%);
}

/*# sourceMappingURL=app.css.map */
