html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.zindex2 {
  position: relative;
  z-index: 2;
}

body {
  /* background: url(gray-wallpaper.jpg) center center no-repeat;
  background-size: cover; */
  min-height: 100vh;
  font-family: "Spartan", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
}

.flex > aside {
  background: #4D2462;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  width: 50%;
}

.flex > main {
  width: 50%;
  background-color: white;
}

.logo {
  width: 600px;
  margin: 0 auto 0;
  display: block;
}

.gradient {
  animation: animateBg 15s linear infinite alternate;
  background-image: linear-gradient(0deg, #e9b840, #63d56e, #3964e9, #df3755);
  background-size: 100% 1100%;
  /* background: linear-gradient(270deg, #e9b840, #63d56e, #3964e9, #df3755); */
  /* background-size: 100% 100%;

  -webkit-animation: animateBg 0s ease infinite;
  -moz-animation: animateBg 0s ease infinite;
  animation: animateBg 0s ease infinite; */
}

@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.prompt {
  max-width: 150px;
  display: block;
  border-radius: 150px;
  border: 10px outset #D4D4D4;
}

.text {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.text h1, .text h2 {
  font-size: 4em;
  margin: 0;
  line-height: 1em;
}

.white-bg {
  display: block;
  width: 100%;
  margin-top: 2rem;
  position: relative;
}

.white-bg::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  width: 100%;
  padding-bottom: 100vh;
}

.text h1 {
  color: #5555e3;
  margin-bottom: 0;
  display: block;
}

.text h1 span {
  color: #383838;
  font-style: italic;
}

h2 {
  text-align: center;
  display: block;
  font-size: 4em;
  width: 100%;
  /* background: rgba(255,255,255,0.25); */
  margin-top: 4rem;
  /* padding-top: 2rem; */
  color: #4D2462;
  /* padding: 1rem 1.5rem; */
  font-family: "Spartan", sans-serif;
  /* outline: 8px solid rgba(255,255,255,0.25);
   outline-offset: 8px; */
}

/* .spacer {
  height: 5px;
  background: #ffffff;
  width: 600px;
  margin-bottom: 2rem;
} */
#particle-container {
  position: relative;
  z-index: 0;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(16vw, 50vh, 68px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.82;
  height: 24px;
  width: 24px;
  animation-delay: -0.2s;
  transform: translate3d(76vw, 48vh, 82px);
  background: #b526d9;
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(28vw, 27vh, 55px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.1;
  height: 17px;
  width: 17px;
  animation-delay: -0.4s;
  transform: translate3d(23vw, 33vh, 15px);
  background: #d926b8;
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(13vw, 46vh, 87px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.95;
  height: 18px;
  width: 18px;
  animation-delay: -0.6s;
  transform: translate3d(79vw, 63vh, 13px);
  background: #d926b5;
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(57vw, 34vh, 26px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.11;
  height: 23px;
  width: 23px;
  animation-delay: -0.8s;
  transform: translate3d(63vw, 53vh, 66px);
  background: #5926d9;
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(80vw, 66vh, 29px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.2;
  height: 29px;
  width: 29px;
  animation-delay: -1s;
  transform: translate3d(34vw, 78vh, 36px);
  background: #d98226;
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(43vw, 2vh, 8px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.34;
  height: 34px;
  width: 34px;
  animation-delay: -1.2s;
  transform: translate3d(57vw, 30vh, 2px);
  background: #d0d926;
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(25vw, 6vh, 24px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.01;
  height: 13px;
  width: 13px;
  animation-delay: -1.4s;
  transform: translate3d(15vw, 12vh, 81px);
  background: #74d926;
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(42vw, 80vh, 94px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.5;
  height: 29px;
  width: 29px;
  animation-delay: -1.6s;
  transform: translate3d(56vw, 79vh, 13px);
  background: #2cd926;
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(82vw, 82vh, 21px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.23;
  height: 29px;
  width: 29px;
  animation-delay: -1.8s;
  transform: translate3d(48vw, 12vh, 55px);
  background: #d9268b;
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(74vw, 3vh, 46px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.84;
  height: 35px;
  width: 35px;
  animation-delay: -2s;
  transform: translate3d(50vw, 77vh, 2px);
  background: #26d96b;
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(89vw, 40vh, 23px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.77;
  height: 29px;
  width: 29px;
  animation-delay: -2.2s;
  transform: translate3d(40vw, 39vh, 16px);
  background: #d92641;
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(80vw, 49vh, 72px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.75;
  height: 18px;
  width: 18px;
  animation-delay: -2.4s;
  transform: translate3d(40vw, 88vh, 11px);
  background: #d926ca;
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(23vw, 50vh, 88px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.9;
  height: 14px;
  width: 14px;
  animation-delay: -2.6s;
  transform: translate3d(71vw, 84vh, 26px);
  background: #d926b5;
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(43vw, 41vh, 79px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.11;
  height: 28px;
  width: 28px;
  animation-delay: -2.8s;
  transform: translate3d(36vw, 24vh, 63px);
  background: #97d926;
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(18vw, 5vh, 36px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.99;
  height: 15px;
  width: 15px;
  animation-delay: -3s;
  transform: translate3d(75vw, 52vh, 23px);
  background: #2694d9;
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(19vw, 73vh, 98px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.29;
  height: 22px;
  width: 22px;
  animation-delay: -3.2s;
  transform: translate3d(39vw, 67vh, 85px);
  background: #26d95c;
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(62vw, 12vh, 33px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.68;
  height: 18px;
  width: 18px;
  animation-delay: -3.4s;
  transform: translate3d(86vw, 45vh, 89px);
  background: #9426d9;
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(4vw, 4vh, 24px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.31;
  height: 28px;
  width: 28px;
  animation-delay: -3.6s;
  transform: translate3d(25vw, 52vh, 44px);
  background: #b2d926;
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(31vw, 43vh, 26px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.05;
  height: 35px;
  width: 35px;
  animation-delay: -3.8s;
  transform: translate3d(16vw, 71vh, 79px);
  background: #26d98e;
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(5vw, 7vh, 5px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.58;
  height: 19px;
  width: 19px;
  animation-delay: -4s;
  transform: translate3d(5vw, 50vh, 54px);
  background: #b2d926;
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(88vw, 63vh, 82px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.99;
  height: 27px;
  width: 27px;
  animation-delay: -4.2s;
  transform: translate3d(25vw, 13vh, 4px);
  background: #4dd926;
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(40vw, 15vh, 66px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.35;
  height: 14px;
  width: 14px;
  animation-delay: -4.4s;
  transform: translate3d(82vw, 41vh, 3px);
  background: #c1d926;
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(22vw, 47vh, 26px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.82;
  height: 14px;
  width: 14px;
  animation-delay: -4.6s;
  transform: translate3d(46vw, 7vh, 7px);
  background: #4726d9;
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(59vw, 87vh, 9px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.65;
  height: 34px;
  width: 34px;
  animation-delay: -4.8s;
  transform: translate3d(80vw, 90vh, 20px);
  background: #d926ac;
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(20vw, 22vh, 24px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.44;
  height: 29px;
  width: 29px;
  animation-delay: -5s;
  transform: translate3d(78vw, 67vh, 91px);
  background: #26d9c7;
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(47vw, 48vh, 75px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.43;
  height: 24px;
  width: 24px;
  animation-delay: -5.2s;
  transform: translate3d(29vw, 31vh, 15px);
  background: #26d94a;
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(37vw, 10vh, 74px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.12;
  height: 18px;
  width: 18px;
  animation-delay: -5.4s;
  transform: translate3d(34vw, 76vh, 67px);
  background: #8526d9;
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(84vw, 9vh, 2px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.04;
  height: 14px;
  width: 14px;
  animation-delay: -5.6s;
  transform: translate3d(22vw, 52vh, 15px);
  background: #d95f26;
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(62vw, 8vh, 89px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 1;
  height: 23px;
  width: 23px;
  animation-delay: -5.8s;
  transform: translate3d(16vw, 79vh, 28px);
  background: #7726d9;
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(80vw, 23vh, 6px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.04;
  height: 31px;
  width: 31px;
  animation-delay: -6s;
  transform: translate3d(36vw, 4vh, 97px);
  background: #2662d9;
}

/*# sourceMappingURL=app.css.map */
